.sidebar{
    flex:2;
    display:flex;
    flex-direction:column;
    margin-right: 5px;
   
    
}

.catogery{
    display: inline-block;
    cursor:pointer;
    
}
.heading{
    background-color:rgb(211, 209, 209);
    padding:10px;
    font-weight:bold;
    margin-left: 44px;
}
.list{
    list-style-type: none;
    font-size:13px;
    
    margin-left: 10px;
    padding: 5px;
    
}

.box1{
  
    color: white;
    background-color:rgb(44, 173, 173);
    border: 1px solid rgb(44, 173, 173); 
    border-radius:5px;
    font-size:14px;
    padding:4px 20px 2px 20px;
   
   
    cursor: pointer;
  
}